footer
  .container
    .row
      .footer
        .container.text-center
          p.pull-left © 2017 Created by Dave Borncamp    July 14, 2017
          ul.pull-right.list-inline
            li
              a(href='https://github.com/dborncamp/borncamp_web') This is on GitHub!
            li
              a(href='https://github.com/dborncamp/borncamp_web/issues') Issues