footer
  .container
    .row
      .footer
        .container.text-center
          p.pull-left © Created by Dave Borncamp    Updated Nov 6, 2019
          ul.pull-right.list-inline
            li
              a(class="round btn btn-danger btn-sm above" role="button" href="https://github.com/dborncamp/borncamp_web") This is on GitHub!
            li
              a(class="round btn btn-danger btn-sm above" role="button" href="https://github.com/dborncamp/borncamp_web/issues") Find an issue?