extends layout

block content
  link(href="css/landing.css" rel="stylesheet" type="text/css")
  meta(name="description" content="David Borncamp's webpage. Software Developer, Astronomer, and Engineer")
  meta(name="keywords" content="David Borncamp, Dave Borncamp, david borncamp, dave borncamp, Python, software developer, astronomer")
  title Dave's Landing
    

  #particle
  .container
    .row
      .col-lg-12
        #jumbo.jumbotron.container-fluid
          .inner
            h1 Welcome to Dave Borncamp's site!
            h2 Me Currently:
            img(src='pictures/dborncamp_hair_small.jpg' class=' pull-left headshot img-rounded img-responsive')
            p
              | I am currently a Software Developer at Decipher Technology Solutions where I work on microservice development.
              | I have been using mostly golang to expand the microservices offered by 
              a(class="above" href="https://github.com/DecipherNow") Decipher.

        #jumbo.jumbotron
          .inner
            h1 Previously
            h2 Previous Functional Work
            p  
              | Previously, I was a Senior Research and Instrument Analyst at Space Telescope Science Institute (STScI)
              | where I work on the Hubble Space Telescope's Advanced Camera for Surveys instrument team.
              | My work mostly focuses on instrument calibrations to keep the camera producing the highest possible quality data.

            P
              | At STScI I primarily use Python and IDL for exploratory data analysis and software development 
              | Using Python and IDL enables me to regularly perform advanced studies of the detector's health which include investigations into several parts of the detector such as:
              ul
                li 
                  p.list Image analysis: 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://www.stsci.edu/hst/acs/documents/isrs/isr1601.pdf") ACS ISR 2016-01 
                    | , and 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://dx.doi.org/10.1017/S1743921316012631") IAU Astroinformatics
                li 
                  p.list dark current: 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://www.stsci.edu/hst/acs/documents/isrs/isr1705.pdf") ACS ISR 2017-05 
                li
                  p.list geometric distortion: 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://www.stsci.edu/hst/acs/documents/tirs/tir1402.pdf") ACS TIR 2014-02
                    | , 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://www.stsci.edu/hst/acs/documents/isrs/isr1502.pdf") ACS ISR 2015-02
                    | , and 
                    a(class="btn btn-primary btn-lg round above" role="button" href="http://www.stsci.edu/hst/acs/documents/isrs/isr1506.pdf") ACS ISR 2015-06
                li 
                  p.list flat fields: 
                    a(class="round btn btn-primary btn-lg above" role="button" href="http://adsabs.harvard.edu/cgi-bin/nph-data_query?bibcode=2015IAUGA..2249873B&db_key=AST&link_type=ABSTRACT") 2015IAUGA..2249873B 
                    

        #jumbo.jumbotron
          .inner
            h2 My Previous Research

            p
              | For my science, I mainly focus on characterizations of Pluto and Kuiper Belt Objects.
              | This came out of my degree in Astronomy at the University of Colorado where I worked with Marc Buie at Southwest Research Institute to characterize Pluto and discover KBO's for the New Horizons Mission to look at after it passes Pluto.
            P
              | A list of my publishing’s can be found on 
              a(class="round btn btn-primary btn-lg above" role="button" href="http://adsabs.harvard.edu/cgi-bin/basic_connect?qsearch=borncamp%2C+D&version=1" class="above") The Astrophysics Data System

  script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
  script(src="js/particleCFG.js")
