doctype html
html
  head
    style
      include css/StyleSheet1.css
    meta(charset='utf-8')
    title Things
    //
      link(rel='stylesheet', type="text/css", href='/css/StyleSheet1.css')
  body
    h1 Things I&apos;ve Learned
    h2 Internet Basics
    ol
      li HTTP Requests
      li IP Addresses
      li Servers
    h2 HTML
    ul
      li
        | Stands for 
        strong Hyper Text Markup Language
      li
        | Lots of tags
        ul
          li
            | Boilerplate
            ol
              li Doctype
              li HTML
              li
                | Head
                ol
                  li Title
              li Body
          li Headings
          li Paragraph
          li
            em em
          li
            strong strong
