doctype html
html
  head
    style
      include css/StyleSheet1.css
    meta(charset='utf-8')
    title Things
    //
      link(rel='stylesheet', type="text/css", href='/css/StyleSheet1.css')
  body
    h1 Things I&apos;ve Learned
    h2 Internet Basics
    ol
      li HTTP Requests
      li IP Addresses
      li Servers
    h2 HTML
    ol
      li testing
      li adjacent
      li CSS things
    ul
      li(class='highlight')
        | Stands for 
        strong Hyper Text Markup Language
      li
        | Lots of tags
        ul
          li(id='special' class='highlight')
            | Boilerplate
            ol
              li Doctype
              li HTML
              li(class='highlight')
                | Head
                ol
                  li Title
              li Body
          li Headings
          li Paragraph
          li
            em em
          li
            strong strong

    
    li
      a something to test Descendant Selector
    
    a(href='https://www.google.com') Google