extends layout

block content
  link(href="css/landing.css" rel="stylesheet" type="text/css")
  title Dave's Resume

  #particle
  .container
    .row
      .col-lg-12
        #jumbo.jumbotron
          .inner
            h2 My Resume:
            p
              a(class="btn btn-primary btn-lg" role="button" href="other/BorncampResume2017_technical.pdf") Here
  
  script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
  script(src="js/particleCFG.js")
