extends layout

block content
  link(href="css/landing.css" rel="stylesheet" type="text/css")
  meta(name="description" content="David Borncamp's resume")
  title Dave's Resume

  #particle
  .container
    .row
      .col-lg-12
        #jumbo.jumbotron
          .inner
            h2 My Resume:
            p
              | Enjoy a nice copy of my resume in .pdf format: 
              a(class="btn btn-primary btn-md above" role="button" href="https://s3.amazonaws.com/vedadev/BorncampResume2018.pdf") Borncamp Resume 2018.pdf
  
  script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
  script(src="js/particleCFG.js")
